.Freq{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
}
@media (max-width:1440px) {
    .Freq{
        gap: 40px;
    }
}
@media (max-width:1312px) {
    .Freq{
       gap: 0;
    }
}