.Hero{
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 60px;
    padding-top: 80px;
    
        img{
            width: 765px;
            height: 785px;
        }
        .heroContant{
            width: 48.11320754%;
                p{
                    font-family: "Outfit", sans-serif;
                    font-weight: 500;
                    line-height: 150%;
                }
                .pargraph1 {
                    font-size: 22px;
                    color: #262626;
                    padding-bottom: 2px;
                    position: relative;
                }
                .pargraph1::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 357px;
                    height: 2px;
                    background-color: black;
                }
                h1{
                    font-family: "Raleway", sans-serif;
                    font-weight: 800;
                    font-size: 54px;
                    line-height: 130%;
                    margin-bottom: 30px;
                }
                    span{
                        color: #FF8D4D;
                    }
                .pargraph2 {
                    color: #333333;
                    font-size: 20px;   
                    margin-bottom: 60px;  
                }
                .allCard{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 13px;
                    width: 100%;
                    border: solid 2px #262626;
                    border-radius: 12px;
                    padding: 24px 50px;
                    box-shadow: 8px 8px 0px 1px #FFBE99;
                    background-color: #FFEFE5;
                }
        }
}
@media (max-width:1440px) {
    .Hero{
        gap: 50px;
        padding-top: 60px;
            img{
                width: 48.046875%;
                height: 663px;        
            }
            .heroContant{
                width: 48.046875%;
                    .pargraph1{
                        font-size: 18px;
                }
                h1{
                    font-size: 40px;
                    margin-bottom: 20px;
                }
                .pargraph2{
                    font-size: 16px;
                    margin-bottom: 50px;
                }
            }
            }
            .allCard{
                gap: 10px;
            }
}
@media (max-width: 1439px) {
    .Hero{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}
@media (max-width:800px) {
    .Hero{
        padding-top: 50px;
        img{
            width: 358px;
            height: 410px;
        }
        .heroContant{
            width: 385px;
            text-align: center;
                .pargraph1::after{
                    width: 260px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .allCard{
                    flex-direction: column;
                    padding: 40px;
                        .border{
                            padding: 20px 0;
                            border-top:  2px solid rgba(38, 38, 38, 1);
                            border-bottom:2px solid rgba(38, 38, 38, 1);
                        }
                }

        }
    }
}

