.AllTitle{
    text-align: center;
    width: 62.3115577%;
    margin: 0  auto  100px auto;
        h2{
            margin: 19px 0px;
            font-family: "Raleway" , sans-serif;
            font-weight: 700;
            font-size: 58px;
            line-height: 130%;
            color: #1A1A1A;
        }
        .PTitle{
        margin: 0 auto;
        background-color: white;
        border: 2px solid #000000;
        border-radius: 8px;
        font-family: "Outfit", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #333333;
        padding: 10px 20px;
        
        }
        p{
            font-family: Outfit;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;

        }
}
@media (max-width:1440px) {
    .AllTitle{
        margin: 0  auto  80px auto;
       .PTitle{
        font-size: 16px;
        padding: 8px 14px;
       
       } 
       h2{
        font-size: 48px;
        margin: 14px 0;
       }
       p{
        font-size: 16px;
       }
    }

}
@media (max-width:700px) {
    .AllTitle{
        margin: 0 auto 50px auto;
        .PTitle{
            font-size: 14px;
        }
        h2{
            font-size: 38px;
            margin: 10px 0;
        }
    }
}