
.maCardAll{
    .maCardOne{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
            .maOne{
                width: 48.4335839%;
                height: 502px;
                padding: 50px;
                border: 2px solid rgba(38, 38, 38, 1);
                border-radius: 12px;
                box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
                background: rgba(255, 255, 255, 1);
                    .maOne1{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 30PX;
                            .maOne2{
                                display: flex;
                                align-items: center; 
                                    h3{
                                        font-family: "Raleway" , sans-serif;
                                        font-weight: 800;
                                        font-size: 30px;
                                        line-height: 150%;
                                        color:rgba(51, 51, 51, 1);
                                        
                                    }
                                    img{
                                        margin-right: 16px;
                                    }
                            }
    
                    }
                    .maTwo2{
                        border: 2px solid rgba(38, 38, 38, 1);
                        background: rgba(255, 245, 240, 1);
                        padding: 30px;
                        border-radius: 12px;
                            h4{
                                font-family: "Outfit" , sans-serif;
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 150%;
                                color: rgba(51, 51, 51, 1);  
                                margin-bottom: 20px;                          
                            }
                            p{
                                font-family: "Outfit" , sans-serif;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 150%;
                                color: rgba(51, 51, 51, 1);
                         
                            }
                    }
            }
    }
}
@media (max-width: 1440px) {
    .maCardAll{
        .maCardOne{
            .maOne{
                width: 48.4375%;
                height: 404px;
                padding: 40px;
                    .maOne1{
                        margin-bottom: 24px;
                        img{
                            width: 48px;
                            height: 48px;
                        }
                        .maOne2{
                            img{
                                width: 80px;
                                height: 80px;
                            }
                            h3{
                                font-size: 24px;
                            }
                        }
                    }
                    .maTwo2{
                        padding: 24px;
                            h4{
                                font-size: 20px;
                                margin-bottom: 16px;
                            }
                            p{
                                font-size: 16px;
                            }
                    }
            }
        }
    }
}
@media (min-width:1445px) and (max-width:1520px ) {
    .maCardAll{
        .maCardOne{
            .maOne{
                height: 540px;
                }}}
    
}
@media (max-width:1120px) {
    .maCardOne{
        flex-direction: column;
        gap: 40px;
    }
    .maCardAll {
       .maCardOne{
        .maOne{
            padding: 30px;
            width: 358px;
            height: 454px;
                .maOne1{
                    img{
                        width: 48px;
                        height: 48px;
                    }
                    .maOne2{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                        h3{
                            font-size: 20px;
                        }
                    }
                }
                .maTwo2{
                    padding: 20px;
                        h4{
                            margin-bottom: 12px;
                        }
                }
        }
       }
}}
@media (max-width:360px) {
    .maCardAll {
        .maCardOne{
         .maOne{
            width: 300px;
            height: 550px;
         }}}
}