*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padding {
    padding: 0px 162px;
}
.margin {
    margin-bottom: 200px;
}
.hover:hover{
    transform: translate(10px, 10px);
    box-shadow: 0 0 37px 21px rgba(255, 222, 204, 1);
}
body {
    background-color: #FFF5F0;
}
@media (max-width: 1440px) {
    .padding {
        padding: 0px 80px;
    }
    .margin{
        margin-bottom: 150px;
    }
}
@media (max-width: 500px) {
    .padding {
        padding: 0px 16px;
    }
    .margin{
        margin-bottom: 80px;
    }
}